<!DOCTYPE html>
<html lang="eng-us">

<!-- Mirrored from cftcoop.com/?a=about by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 09 Feb 2021 19:29:42 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
	<title>ChaseFx </title>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="img/logo/favicon.png"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<!-- Font-Awesome -->
	<!-- <link rel="stylesheet" type="text/css" href="css/fontawesome-all.css"> -->
	<link rel="stylesheet" href="../pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
	<!-- Slider -->
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="css/slider.css">
	<!--Navigation Menu CSS-->
	<link rel="stylesheet" type="text/css" href="css/navigation.css">
	<!-- Owl carousel Styles -->
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="css/owl.theme.default.css">
	<!--Animate CSS-->
	<link rel="stylesheet" type="text/css" href="css/animate.css">
	<!-- Main Styles -->
	<link rel="stylesheet" type="text/css" href="css/default.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<script src="https://kit.fontawesome.com/e44d5a293a.js" crossorigin="anonymous"></script> <!--load all styles -->
	<script>
function googleTranslateElementInit() {

new google.translate.TranslateElement({

pageLanguage: 'en'

}, 'google_translate_element');

}

</script><script src="../translate.google.com/translate_a/elementa0d8.html?cb=googleTranslateElementInit"></script>
	
</head>

<body>
<!-- Preloader Start-->
<div id="preloader">
	<div class="row loader">
		<div class="loader-icon"></div>
	</div>
</div>
<!-- Preloader End -->

<!-- Navbar START -->
<header id="nav-transparent">
	<nav id="navigation4" class="container navigation">
		<div class="nav-header">
			<a class="nav-brand" href="/">
				<img src="img/logo/cftcoopinv.png" alt="logo" class="main-logo" id="light_logo">
				<img src="img/logo/cftcoop.png" alt="logo" class="main-logo" id="main_logo">
			</a>
			<div class="nav-toggle"></div>
		</div>
		<div class="nav-menus-wrapper">
			<ul class="nav-menu align-to-right">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/services">Services</a></li>
				<li><a href="/support">Contact Us</a></li>
				<!-- Button start -->
                                              <li><a href="/login">Login</a></li>
                        <li><a href="/signup">Register</a></li>
                                            <!-- Button end -->
				<li><div id="google_translate_element"></div></li>
				
			</ul>
		</div>
	</nav>
</header>
<!-- Navbar END -->

<!-- Page Title START -->
<div class="page-title-section" style="background-image: url('img/content/breadcrumb.jpg');">
	<div class="black-overlay-70"></div>
	<div class="container">
		<h1>About us</h1>
		<p>Experience you can trust, service you can count on.</p>
	</div>
</div>
<!-- Page Title END -->

<!--Steps START-->
<div class="section-wrapper">
	<div class="container">
		<div class="row justify-content-center mb-5">
			<div class="col-md-12 col-lg-8 col-centered text-center">
				<h3 class="s-title">We are the next generation of the business world, creative solutions</h3>
				<p class="s-subtitle s-subtitle--simetric">ChaseFx  is here to help you get the most out of your investments in the U.S—the world's largest financial market.* Our Financial Consultants, tools, and resources are all available to provide insight into world market trends. Together, we can help you understand the market to help achieve your financial goals.</p>
			</div>
		</div>
		<div class="process-steps-xs process-steps-background">
			<ul class="center-holder row">
				<li class="col">
					<div class="process-step-xs center-holder">
						<div class="process-step-icon">
							<span>1</span>
						</div>
						<h3 class="text-center">Investment Advisor</h3>
					</div>
				</li>
				<li class="col">
					<div class="process-step-xs center-holder">
						<div class="process-step-icon">
							<span>2</span>
						</div>
						<h3 class="text-center">Strategic Consulting</h3>
					</div>
				</li>
				<!-- <li class="col">
					<div class="process-step-xs center-holder">
						<div class="process-step-icon">
							<span>3</span>
						</div>
						<h3 class="text-center">Digital Marketing</h3>
					</div>
				</li> -->
				<li class="col">
					<div class="process-step-xs center-holder">
						<div class="process-step-icon">
							<span>3</span>
						</div>
						<h3 class="text-center">Quality Services</h3>
					</div>
				</li>
				<li class="col">
					<div class="process-step-xs center-holder">
						<div class="process-step-icon">
							<span>4</span>
						</div>
						<h3 class="text-center">Investment Account Management</h3>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--Steps END-->

<!-- Service offers START -->
<div class="section-wrapper--sm section-wrapper--parallax" style="background-image: url('img/content/breadcrumb.jpg')">
	<div class="black-overlay-40"></div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-12">
				<div class="service-offer-box">
					<i class="icon-like-1"></i>
					<h4>Asset Management</h4>
					<p>We will manage your assets to maximise profits while mitigating risk.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-12">
				<div class="service-offer-box">
					<i class="icon-team"></i>
					<h4>Investment Strategist</h4>
					<p>Utilize fixed income and equity research from various sourceson the local, regional and the international capital markets to analyse the emerging market Fixed Income and markets to  develop investment strategies</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-12">
				<div class="service-offer-box">
					<i class="icon-transfer-1"></i>
					<h4>Investment Advisor</h4>
					<p>Accurate and precise risk assessment by professionals with concrete experience</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-12">
				<div class="service-offer-box">
					<i class="icon-desk"></i>
					<h4>Retirement Plans</h4>
					<p>We offer solutions, resources, tools, and guidance to help you develop and manage your retirement strategy. And our retirement consultants will be here every step of the way to help you plan your journey towards your financial future, so you can relax and focus on today. </p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Service offers END -->

<!--Testmonials START-->
<!-- <div class="section-wrapper">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 col-centered">
				<h3 class="s-title text-center">Customers testimonials</h3>
			</div>
			<div id="testim" class="testmonials">
				<span id="right-arrow" class="arrow right"><i class="ti-arrow-right"></i></span>
				<span id="left-arrow" class="arrow left"><i class="ti-arrow-left"></i></span>
				<ul id="testim-dots" class="dots">
					<li class="dot active"></li>
					<li class="dot"></li>
				</ul>
				<div id="testim-content" class="cont">
					<div class="active carousel-box">
						<div class="img"><img src="img/team/team-1.png" alt=""></div>
						<h4>Andrew Bright</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>

					<div class="carousel-box">
						<div class="img"><img src="img/team/team-2.png" alt=""></div>
						<h4>Belle Hill</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->
<!--Testmonials END-->

<!--Brands START-->
<div class="section-wrapper section-wrapper--gray py-0">
	<div class="container">
		<!-- TradingView Widget BEGIN -->
		<div class="tradingview-widget-container">
			<div class="tradingview-widget-container__widget"></div>
			<script type="text/javascript" src="../s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
				{
					"symbols": [
						{
							"proName": "FOREXCOM:SPXUSD",
							"title": "S&P 500"
						},
						{
							"proName": "FOREXCOM:NSXUSD",
							"title": "Nasdaq 100"
						},
						{
							"proName": "FX_IDC:EURUSD",
							"title": "EUR/USD"
						},
						{
							"proName": "BITSTAMP:BTCUSD",
							"title": "BTC/USD"
						},
						{
							"proName": "BITSTAMP:ETHUSD",
							"title": "ETH/USD"
						}
					],
						"colorTheme": "light",
							"isTransparent": false,
								"locale": "en"
				}
			</script>
		</div>
		<!-- TradingView Widget END -->
	</div>
</div>
<!--Brands END-->

<!-- Footer START -->
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-4 foot-col-1">
				<img src="img/logo/cftcoop.png" alt="logo" style="width: 300px">
				<p class="s-mrt-40">Services provided by ChaseFx , Inc., member FINRA/SIPC, and a subsidiary of TD Ameritrade Holding Corporation. TD Ameritrade is a trademark jointly owned by TD Ameritrade IP Company, Inc. and The Toronto-Dominion Bank. © 2020 Charles Schwab & Co., Inc. All rights reserved. Member SIPC</p>
				<h3 style="color: white">Contact Us</h3>
				    <!-- <ul class="social-footer"> -->
					<ul class="social-footer">
						<li>
							<a href="tel:+14156107655"> <i class="fas fa-phone iconhover"></i>
							</a>
						</li>
						<li>
							<a href = "mailto: support@hfxoption.com"> <i class="fas fa-envelope iconhover"></i>
							</a>
						</li>
					</ul>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3 offset-lg-1 foot-col-2 footer-col-clone">
				<h3>OUR SERVICES</h3>
									<ul>
						<li><a href="#">Business Consultation</a>
						</li>
						<li><a href="#">Legal Infomation</a>
						</li>
						<li><a href="#">Privacy and Security</a>
						</li>
						<li><a href="/support">contact us</a>
						</li>
					</ul>
			</div>
			
			<div class="col-sm-12 foot-bottom">
				<p>© 2010 -2021 ChaseFx . All Rights Reserved.</p>
			</div>
		</div>
	</div>
</footer>
<!-- Footer END -->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/605dd0c2067c2605c0bc890c/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<!-- Jquery -->
<script src="js/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Navbar JS -->
<script src="js/navigation.js"></script>
<script src="js/navigation.fixed.js"></script>
<!-- Popper -->
<script src="js/popper.min.js"></script>
<!-- Include js plugin -->
<script src="js/owl.carousel.min.js"></script>
<!-- Main JS -->
<script src="js/main.js"></script>
</body>


<!-- Mirrored from cftcoop.com/?a=about by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 09 Feb 2021 19:29:42 GMT -->
</html>

