
<!DOCTYPE html>
<html lang="en-uk" dir="ltr">
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="investment, Forex, Trading, Bitcoin, Cryptocurrency, Global investment, Live Trade, Trading class, indics">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#313131" />
    <!-- Site Properties -->
    <title>About - Solabiz-innovation Markets</title>
    <!-- Critical preload -->
    <link rel="preload" href="js/vendors/uikit.min.js" as="script">
    <link rel="preload" href="css/vendors/uikit.min.css" as="style">
    <link rel="preload" href="css/style.css" as="style">
    <!-- Icon preload -->
    <link rel="preload" href="fonts/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>
    <!-- Font preload -->
    <link rel="preload" href="fonts/rubik-v9-latin-500.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/rubik-v9-latin-300.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/rubik-v9-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <!-- Favicon and apple icon -->
    <link rel="shortcut icon" href="img/cfc-markets-logo.png" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="img/cfc-markets-logo.png">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/vendors/uikit.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body style="background-color:black;">
    <!-- preloader begin -->
    <div class="in-loader">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <!-- preloader end -->
    <header>
    <!-- header content begin -->
    <div class="uk-section uk-padding-remove-vertical in-header-inner uk-background-cover uk-background-top-center" style="background-image: url(img/in-wave-background-1.png);">
        <!-- module navigation begin -->
        <nav class="uk-navbar-container uk-navbar-transparent"><!-- data-uk-sticky="show-on-up: true; top: 80; animation: uk-animation-fade;">-->
            <div class="uk-container" data-uk-navbar>
                <div class="uk-navbar-left uk-width-auto">
                    <div class="uk-navbar-item">
                        <!-- module logo begin -->
                        <a class="uk-logo" href="/">
                            <img class="uk-margin-small-right in-offset-top-10" src="img/Transparrant-alert-nation2.png" data-src="img/logo.svg" alt="wave" width="160" height="23" data-uk-img>
                        </a>
                        <!-- module logo begin -->
                    </div>
                </div>
                <div class="uk-navbar-right uk-width-expand uk-flex uk-flex-right">
                    <ul class="uk-navbar-nav uk-visible@m">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/faq">Faq</a></li>
                        <!--<li><a href="#">Resources<i class="fas fa-chevron-down"></i></a>
                            <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                                <div class="uk-navbar-dropdown-grid uk-child-width-1-2" data-uk-grid>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li><a href="https://getuikit.com/docs/">Documentation<i class="fas fa-external-link-square-alt fa-sm"></i></a></li>
                                            <li><a href="help-center.html">Help Center</a></li>
                                            <li><a href="customers.html">Customers</a></li>
                                            <li><a href="roadmap.html">Roadmap</a></li>
                                            <li><a href="legal-docs.html">Legal Docs<i class="fas fa-gavel fa-sm"></i></a></li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li><a class="uk-disabled" href="#">Adipiscing elit sed do eiusmod incididunt ut labore dolore magna lorem ipsum sit dolor amet consectetur</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>-->
                    </ul>
                    <div class="uk-navbar-item uk-visible@m in-optional-nav">
                        <a href="/signin" class="uk-button uk-button-text"><i class="fas fa-user-circle uk-margin-small-right"></i>Log in</a>
                        <a href="/signup" class="uk-button uk-button-primary uk-button-small uk-border-pill">Sign up</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- module navigation end -->
        <div class="uk-container">
            <div class="uk-grid">
                <!-- module breadcrumb begin -->
                <div class="uk-width-1-1 in-breadcrumb">
                    <ul class="uk-breadcrumb uk-text-uppercase">
                        <li><a href="/">Home</a></li>
                    </ul>
                </div>
                <!-- module breadcrumb end -->
            </div>
        </div>
    </div>
    <!-- header content end -->
</header>    <main>
        <!-- section content begin -->
        <div class="uk-section">
            <div class="uk-container">
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <div class="uk-width-3-5@m">
                            <h1 class="uk-margin-small-bottom">Putting our clients first <span class="in-highlight">since 2016</span></h1>
                            <p class="uk-text-lead uk-text-muted uk-margin-remove-top">For more than 5 years, we’ve been empowering clients by helping them take control of their financial lives.</p>
                        </div>
                    </div>
                    <!--<div class="uk-grid uk-grid-large uk-child-width-1-3@m uk-margin-medium-top" data-uk-grid>
                        <div class="uk-flex uk-flex-left">
                            <div class="uk-margin-right">
                                <i class="fas fa-leaf fa-lg in-icon-wrap primary-color"></i>
                            </div>
                            <div>
                                <h3>Philosophy</h3>
                                <p>At vero eos etme accusamus iusto odio ent dignissimos deleniti atque corrupti quos ducimus moll quilla blanditiis expedita est distinctio.</p>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-left">
                            <div class="uk-margin-right">
                                <i class="fas fa-hourglass-end fa-lg in-icon-wrap primary-color"></i>
                            </div>
                            <div>
                                <h3>History</h3>
                                <p>At vero eos etme accusamus iusto odio ent dignissimos deleniti atque corrupti quos ducimus moll quilla blanditiis expedita est distinctio.</p>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-left">
                            <div class="uk-margin-right">
                                <i class="fas fa-flag fa-lg in-icon-wrap primary-color"></i>
                            </div>
                            <div>
                                <h3>Culture</h3>
                                <p>At vero eos etme accusamus iusto odio ent dignissimos deleniti atque corrupti quos ducimus moll quilla blanditiis expedita est distinctio.</p>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
        <!-- section content end -->
        <!-- section content begin -->
        <div class="uk-section in-offset-top-40 in-offset-bottom-20">
            <div  class="uk-container">
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <div class="uk-card uk-card-default uk-border-rounded uk-background-center uk-background-contain uk-background-image@m" style="background-image: url(img/in-team-background-1.png);" data-uk-parallax="bgy: -100">
                            <div class="uk-card-body">
                                <div class="uk-grid uk-flex uk-flex-center">
                                    <div class="uk-width-3-4@m uk-text-center">
                                        <h2>Trust the Professionals</h2>
                                        <p>We are a group of passionate, independent thinkers who never stop exploring new ways to improve trading for the self-directed investor.</p>
                                    </div>
                                </div>
                                <div class="uk-grid uk-child-width-1-2@m uk-margin-medium-top" data-uk-grid>
                                                                            <div class="uk-flex uk-flex-left">
                                            <div class="uk-margin-right">
                                                <img class="uk-align-center " src="wp-admin/uploads/professional_12a27b2be5f64eb09c307059deed3afe.png" alt="image-team" width="300" style="border-radius: 100%!important;">
                                            </div>
                                            <div>
                                                <p class="uk-text-small uk-text-muted uk-text-uppercase uk-margin-remove-bottom">CHIEF EXECUTIVE OFFICER </p>
                                                <h4 class="uk-margin-small-top">Gianvictor Cueva </h4>
                                                <p>Gianvictor has been a trader for 6 years and has built up many different strategies. </p>
                                                <div>
                                                    <a class="uk-link-muted" href="https://www.facebook.com/gianvictorcueva" target="_blank"><i class="fab fa-facebook-f uk-margin-small-right"></i></a><a class="uk-link-muted" href="https://instagram.com/gvcueva?utm_medium=copy_link" target="_blank"><i class="fab fa-instagram uk-margin-small-right"></i></a><a class="uk-link-muted" href="+1 (469) 3934-263 " target="_blank"><i class="fab fa-whatsapp"></i></a>                                                </div>
                                            </div>
                                        </div>
                                                                            <div class="uk-flex uk-flex-left">
                                            <div class="uk-margin-right">
                                                <img class="uk-align-center " src="wp-admin/uploads/professional_af217e618a4ee42aa55352f9dd54eba0.jpeg" alt="image-team" width="300" style="border-radius: 100%!important;">
                                            </div>
                                            <div>
                                                <p class="uk-text-small uk-text-muted uk-text-uppercase uk-margin-remove-bottom">MANAGER </p>
                                                <h4 class="uk-margin-small-top">Stephanie Spence</h4>
                                                <p>Stephanie is a well skilled trader, She provides weekly insights into current markets. </p>
                                                <div>
                                                    <a class="uk-link-muted" href="https://www.facebook.com/Stefyfxtrader?mibextid=LQQJ4d" target="_blank"><i class="fab fa-facebook-f uk-margin-small-right"></i></a><a class="uk-link-muted" href="https://instagram.com/stefyfxtrader?igshid=NTc4MTIwNjQ2YQ==" target="_blank"><i class="fab fa-instagram uk-margin-small-right"></i></a><a class="uk-link-muted" href="‪+1 (208) 557‑9687‬" target="_blank"><i class="fab fa-whatsapp"></i></a>                                                </div>
                                            </div>
                                        </div>
                                                                    </div>
                                <!--<div class="uk-grid uk-child-width-1-2@m uk-margin-medium-top" data-uk-grid>
                                    <div class="uk-flex uk-flex-left">
                                        <div class="uk-margin-right">
                                            <img class="uk-align-center " src="img/in-team-1.png" alt="image-team" width="300">
                                        </div>
                                        <div>
                                            <p class="uk-text-small uk-text-muted uk-text-uppercase uk-margin-remove-bottom">Chief Executive Officer</p>
                                            <h4 class="uk-margin-small-top">Cynthia Dixon</h4>
                                            <p>Nostrum exercitationem ullam corporis suscipit labor samnisi ute aliquid fugiat.</p>
                                            <div>
                                                <a class="uk-link-muted" href="#"><i class="fab fa-facebook-f uk-margin-small-right"></i></a>
                                                <a class="uk-link-muted" href="#"><i class="fab fa-twitter uk-margin-small-right"></i></a>
                                                <a class="uk-link-muted" href="#"><i class="fab fa-instagram uk-margin-small-right"></i></a>
                                                <a class="uk-link-muted" href="#"><i class="fab fa-linkedin-in uk-margin-small-right"></i></a>
                                                <a class="uk-link-muted" href="#"><i class="fab fa-telegram"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-flex uk-flex-left">
                                        <div class="uk-margin-right">
                                            <img class="uk-align-center " src="img/in-team-2.png" alt="image-team" width="300">
                                        </div>
                                        <div>
                                            <p class="uk-text-small uk-text-muted uk-text-uppercase uk-margin-remove-bottom">Executive Assistant</p>
                                            <h4 class="uk-margin-small-top">Arthur Parker</h4>
                                            <p>Nostrum exercitationem ullam corporis suscipit labor samnisi ute aliquid fugiat.</p>
                                            <div>
                                                <a class="uk-link-muted" href="#"><i class="fab fa-facebook-f uk-margin-small-right"></i></a>
                                                <a class="uk-link-muted" href="#"><i class="fab fa-twitter uk-margin-small-right"></i></a>
                                                <aclass="uk-link-muted" href="#"><i class="fab fa-linkedin-in"></i></a>
                                            </div></div>
                                    </div>
                                    <div class="uk-flex uk-flex-left">
                                        <div class="uk-margin-right">
                                            <img class="uk-align-center " src="img/in-team-3.png" alt="image-team" width="300">
                                        </div>
                                        <div>
                                            <p class="uk-text-small uk-text-muted uk-text-uppercase uk-margin-remove-bottom">Marketing Specialist</p>
                                            <h4 class="uk-margin-small-top">Evelyn Mason</h4>
                                            <p>Nostrum exercitationem ullam corporis suscipit labor samnisi ute aliquid fugiat.</p>
                                            <div>
                                                <a class="uk-link-muted" href="#"><i class="fab fa-facebook-f uk-margin-small-right"></i></a>
                                                <a class="uk-link-muted" href="#"><i class="fab fa-twitter uk-margin-small-right"></i></a>
                                                <a class="uk-link-muted" href="#"><i class="fab fa-linkedin-in"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-flex uk-flex-left">
                                        <div class="uk-margin-right">
                                            <img class="uk-align-center " src="img/in-team-4.png" alt="image-team" width="300">
                                        </div>
                                        <div>
                                            <p class="uk-text-small uk-text-muted uk-text-uppercase uk-margin-remove-bottom">Human Resources</p>
                                            <h4 class="uk-margin-small-top">Bryan Greene</h4>
                                            <p>Nostrum exercitationem ullam corporis suscipit labor samnisi ute aliquid fugiat.</p>
                                            <div>
                                                <a class="uk-link-muted" href="#"><i class="fab fa-facebook-f uk-margin-small-right"></i></a>
                                                <a class="uk-link-muted" href="#"><i class="fab fa-twitter uk-margin-small-right"></i></a>
                                                <a class="uk-link-muted" href="#"><i class="fab fa-linkedin-in"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section content end -->
        <!-- section content begin -->
        <div class="uk-section">
            <div class="uk-container">
                <div class="uk-grid uk-flex uk-flex-center">
                    <div class="uk-width-3-4@m">
                        <div class="uk-grid uk-flex uk-flex-middle" data-uk-grid>
                            <div class="uk-width-1-2@m">
                                <h4 class="uk-text-muted">Number speaks</h4>
                                <h1 class="uk-margin-medium-bottom">We always ready<br>for a <span class="in-highlight">challenge.</span></h1>
                                <a href="#" class="uk-button uk-button-primary uk-border-rounded" style="background-color: #7eb1f3; background-image: linear-gradient(to right, #386eb4 , #d0e4ff);">Learn more<i class="fas fa-chevron-circle-right fa-xs uk-margin-small-left"></i></a>
                            </div>
                            <div class="uk-width-1-2@m">
                                <div class="uk-margin-large" data-uk-grid>
                                    <div class="uk-width-1-3@m">
                                        <h1 class="uk-text-primary uk-text-right@m">
                                            <span class="count" data-counter-end="6" style="color:#7eb1f3;">0</span>
                                        </h1>
                                        <hr class="uk-divider-small uk-text-right@m">
                                    </div>
                                    <div class="uk-width-expand@m">
                                        <h4>Trading instruments</h4>
                                        <p>The foreign exchange market is the largest financial market in the world and has a variety of financial instruments to trade daily. This market has a daily average volume of $5 trillion. The best time to trade forex is when the volatility is high. Forex involves trading currencies by taking advantage of changes in the prices of currency pairs. Known as majors, the most traded currency pairs are the USD/JPY, GBP/USD, USD/CHF, and EUR/USD among others. These are the currencies of some of the world’s biggest economies.</p>
                                    </div>
                                </div>
                                <!--<div class="uk-margin-large" data-uk-grid>
                                    <div class="uk-width-1-3@m">
                                        <h1 class="uk-text-primary uk-text-right@m">
                                            <span class="count" data-counter-end="27">0</span>
                                        </h1>
                                        <hr class="uk-divider-small uk-text-right@m">
                                    </div>
                                    <div class="uk-width-expand@m">
                                        <h4>Countries covered</h4>
                                        <p>At vero eos et accusamus iusto dignissimos ducimus qui blanditiis praesentium voluta deleniti.</p>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section content end -->
        <!-- section content begin -->
        <div class="uk-section">
            <div class="uk-container">
                <div class="uk-grid-match uk-grid-medium uk-child-width-1-2@s uk-child-width-1-3@m in-card-10" data-uk-grid>
                    <div class="uk-width-1-1">
                        <h1 class="uk-margin-remove">A <span class="in-highlight">relationship</span> on your terms.</h1>
                        <p class="uk-text-lead uk-text-muted uk-margin-remove">Work with us the way you want.</p>
                        <p>Some believe you must choose between an online broker and a wealth management firm. At CFC-M, you don’t need to compromise. Whether you invest on your own, with an advisor, or a little of both — we can support you.</p>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-light in-card-green">
                            <i class="fas fa-seedling fa-lg in-icon-wrap uk-margin-bottom"></i>
                            <h4 class="uk-margin-top">
                                <a href="#">Investing<i class="fas fa-chevron-right uk-float-right"></i></a>
                            </h4>
                            <hr>
                            <p>A wide selection of investment product to help build diversified portfolio</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-light in-card-blue">
                            <i class="fas fa-chart-bar fa-lg in-icon-wrap uk-margin-bottom"></i>
                            <h4 class="uk-margin-top"><a href="#">Trading<i class="fas fa-chevron-right uk-float-right"></i></a>
                            </h4>
                            <hr>
                            <p>Powerful trading tools, resources, insight and support</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-light in-card-purple">
                            <i class="fas fa-chart-pie fa-lg in-icon-wrap uk-margin-bottom"></i>
                            <h4 class="uk-margin-top">
                                <a href="#">Wealth management<i class="fas fa-chevron-right uk-float-right"></i></a></h4>
                            <hr><p>Dedicated financial consultant to help reach your own specific goals</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-light in-card-navy">
                            <i class="fas fa-chalkboard-teacher fa-lg in-icon-wrap uk-margin-bottom"></i>
                            <h4 class="uk-margin-top">
                                <a href="#">Investment advisory<i class="fas fa-chevron-right uk-float-right"></i></a>
                            </h4>
                            <hr>
                            <p>A wide selection of investing strategies from seasoned portfolio managers</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-light in-card-grey">
                            <i class="fas fa-funnel-dollar fa-lg in-icon-wrap uk-margin-bottom"></i>
                            <h4 class="uk-margin-top">
                                <a href="#">Smart portfolio<i class="fas fa-chevron-right uk-float-right"></i></a>
                            </h4>
                            <hr>
                            <p>A revolutionary, fully-automated investmend advisory services</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-light in-card-orange">
                            <i class="fas fa-handshake fa-lg in-icon-wrap uk-margin-bottom"></i>
                            <h4 class="uk-margin-top">
                                <a href="#">Mutual fund advisor<i class="fas fa-chevron-right uk-float-right"></i></a>
                            </h4>
                            <hr>
                            <p>Specialized guidance from independent local advisor for hight-net-worth investors</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section content end -->
        <!-- section content begin -->
        <div class="uk-section">
            <div class="uk-container">
                <div class="uk-grid">
                    <div class="uk-width-2-3@m">
                        <div class="uk-grid uk-grid-small" data-uk-grid>
                            <div class="uk-width-auto@m">
                                <i class="fas fa-money-bill-wave fa-2x in-icon-wrap large primary-color uk-margin-right"></i>
                            </div>
                            <div class="uk-width-expand">
                                <h3>Why trade with Solabiz-innovation Markets?</h3>
                                <p>The best rated ASIC broker in the industry
Dedicated account manager & personalised service
Regulated by the Australian Securities and Investment Commission
We are suggesting this broker so you can try their services on a demo account. Speak to your financial advisor before opening a live account.</p>
                                <div class="uk-grid uk-child-width-1-2@s uk-child-width-1-2@m in-margin-bottom-30@s" data-uk-grid>
                                    <div>
                                        <ul class="uk-list uk-list-bullet in-list-check">
                                            <li>Direct Market Access (DMA)</li>
                                            <li>Leverage up to 1:500</li>
                                            <li>T+0 settlement</li>
                                            <li>Dividends paid in cash</li>
                                        </ul>
                                    </div>
                                    <div class="in-margin-small-top@s in-margin-bottom@s">
                                        <ul class="uk-list uk-list-bullet in-list-check">
                                            <li>Free from UK Stamp Duty</li>
                                            <li>Short selling available</li>
                                            <li>Commissions from 0.08%</li>
                                            <li>Access to 1500 global shares</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-3@m">
                        <h3>Check out our Shares offer</h3>
                        <table class="uk-table uk-table-divider uk-table-striped uk-text-small uk-text-center">
                            <thead>
                                <tr>
                                    <th class="uk-text-center">Name</th>
                                    <th class="uk-text-center">Initial Deposit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Apple Inc CFD</td>
                                    <td>10%</td>
                                </tr>
                                <tr>
                                    <td>Alibaba CFD</td>
                                    <td>10%</td>
                                </tr>
                                <tr>
                                    <td>Facebook CFD</td>
                                    <td>10%</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="uk-text-small"><a href="#">See Full Shares Table</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- section content end -->
        <!-- section content begin -->
        <div class="uk-section">
            <div class="uk-container">
                <div class="uk-grid">
                    <div class="uk-width-1-1 in-card-16">
                        <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                            <div class="uk-grid uk-flex-middle" data-uk-grid>
                                <div class="uk-width-1-1 uk-width-expand@m">
                                    <h3>Get up to £600 plus 60 days of commission-free stocks &amp; forex trades</h3>
                                </div>
                                <div class="uk-width-auto">
                                    <a class="uk-button uk-button-primary uk-border-rounded" href="#">Open an Account</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section content end -->
        <!-- section content begin -->
        <div class="uk-section">
            <div class="uk-container">
                <div class="uk-grid">
                    <div class="uk-width-1-1 uk-text-center uk-margin-medium-bottom">
                        <h1>Solabiz-innovation Markets Legal Docs</h1>
                    </div>
                    <div class="uk-grid-divider uk-child-width-1-3@m uk-child-width-1-2@s" data-uk-grid>
                        <div>
                            <i class="fas fa-file fa-lg in-icon-wrap primary-color"></i>
                            <h3 class="uk-margin-top">Terms of Service</h3>
                            <p>Read the Terms of Service and License Agreement for Blockit as well as our BlockitApp &amp; Developer Agreements.</p>
                            <ul class="uk-list uk-margin-top">
                                <li><a class="uk-flex uk-flex-middle" href="#"><i class="fas fa-file-pdf fa-sm uk-margin-small-right"></i>License Agreement</a></li>
                                <li><a class="uk-flex uk-flex-middle" href="#"><i class="fas fa-file-pdf fa-sm uk-margin-small-right"></i>Term of Services for Blockit Trade</a></li>
                            </ul>
                        </div>
                        <div><i class="fas fa-globe fa-lg in-icon-wrap primary-color"></i><h3 class="uk-margin-top">Policies</h3><p>Find out more about what information we collect at Blockit, how we use it, and what control you have over your data.</p>
                            <ul class="uk-list uk-margin-top">
                                <li><a class="uk-flex uk-flex-middle" href="#"><i class="fas fa-file-pdf fa-sm uk-margin-small-right"></i>Privacy Statement</a></li>
                            </ul>
                        </div>
                        <div class="uk-visible@m">
                            <i class="fas fa-shield-alt fa-lg in-icon-wrap primary-color"></i>
                            <h3 class="uk-margin-top">Security</h3>
                            <p>Learn more about how we keep your work and personal data safe when you’re using our services.</p>
                            <ul class="uk-list uk-margin-top">
                                <li><a class="uk-flex uk-flex-middle" href="#"><i class="fas fa-file-pdf fa-sm uk-margin-small-right"></i>Blockit Trade Security</a></li>
                                <li><a class="uk-flex uk-flex-middle" href="#"><i class="fas fa-file-pdf fa-sm uk-margin-small-right"></i>Responsible Disclosure Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section content end -->
        <!-- section content begin -->
        <!--<div class="uk-section">
            <div class="uk-container">
                <div class="uk-grid">
                    <div class="uk-width-1-1 in-content-10">
                        <div class="uk-card uk-card-primary uk-card-body uk-border-rounded uk-background-bottom-left uk-background-contain" style="background-image: url(img/in-content-10-image.png);">
                            <div class="uk-grid uk-flex uk-flex-center">
                                <div class="uk-width-3-5@m uk-text-center">
                                    <h1 class="uk-margin-small-top">Hi, we’re here to help.</h1>
                                    <form class="uk-search uk-search-default uk-width-1-1 uk-margin-bottom">
                                        <span data-uk-search-icon></span>
                                        <input class="uk-search-input uk-border-pill" type="search" placeholder="Search for articles...">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="uk-grid-divider uk-child-width-1-3@m uk-child-width-1-2@s uk-margin-medium-top" data-uk-grid>
                            <div>
                                <h3 class="uk-heading-bullet"><a class="uk-link-text" href="#">How-tos &amp; Tutorials</a></h3>
                                <div class="uk-grid uk-grid-small" data-uk-grid>
                                    <div class="uk-width-expand@m">
                                        <p>Excepteur sint occaecat cupidatat non proident sunt et expedita</p>
                                    </div>
                                    <div class="uk-width-auto@m">
                                        <i class="fas fa-question fa-3x in-icon-wrap small transparent uk-margin-left"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-visible@m">
                                <h3 class="uk-heading-bullet"><a class="uk-link-text" href="#">Security and Privacy</a></h3>
                                <div class="uk-grid uk-grid-small" data-uk-grid>
                                    <div class="uk-width-expand@m">
                                        <p>Similique suculpa officia deserunt mollitia animi dolores ratione</p>
                                    </div>
                                    <div class="uk-width-auto@m">
                                        <i class="fas fa-unlock-alt fa-3x in-icon-wrap small transparent uk-margin-left"></i>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h3 class="uk-heading-bullet"><a class="uk-link-text" href="#">Open a Support ticket</a></h3>
                                <div class="uk-grid uk-grid-small" data-uk-grid>
                                    <div class="uk-width-expand@m">
                                        <p>Voluptatibus maiores alias mauli consequatur aut perferendis</p>
                                    </div>
                                    <div class="uk-width-auto@m">
                                        <i class="fas fa-life-ring fa-3x in-icon-wrap small transparent uk-margin-left"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <!-- section content end -->
        <!-- section content begin -->
        <!--<div class="uk-section">
            <div class="uk-container">
                <div class="uk-grid uk-flex uk-flex-center">
                    <div class="uk-width-3-5@m">
                        <div class="uk-grid-small uk-child-width-1-2@s uk-child-width-1-1@m in-content-11" data-uk-grid>
                            <div>
                                <a href="#" class="uk-card uk-card-small uk-card-default uk-card-body uk-border-rounded uk-display-block">
                                    <div class="uk-grid" data-uk-grid>
                                        <div class="uk-width-auto@m uk-flex uk-flex-middle">
                                            <i class="fas fa-book fa-lg in-icon-wrap in-margin-remove-left@s uk-margin-left"></i>
                                        </div>
                                        <div class="uk-width-expand@m in-margin-small-top@s">
                                            <h4 class="uk-margin-small-bottom">Getting started with our product</h4>
                                            <img class="uk-border-pill uk-background-muted uk-float-left uk-margin-remove-adjacent uk-margin-small-right" src="img/in-team-7.png" width="40" height="40" alt="author-image">
                                            <p class="uk-text-small uk-margin-remove-bottom">5 articles in this collection</p>
                                            <p class="uk-text-small uk-margin-remove-top">Written by Scott Baker</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a href="#" class="uk-card uk-card-small uk-card-default uk-card-body uk-border-rounded uk-display-block">
                                    <div class="uk-grid" data-uk-grid>
                                        <div class="uk-width-auto@m uk-flex uk-flex-middle">
                                            <i class="fas fa-pen-nib fa-lg in-icon-wrap in-margin-remove-left@s uk-margin-left"></i>
                                        </div>
                                        <div class="uk-width-expand@m in-margin-small-top@s"><h4 class="uk-margin-small-bottom">Contracts and E-Signatures</h4><img class="uk-border-pill uk-background-muted uk-float-left uk-margin-remove-adjacent uk-margin-small-right" src="img/in-team-8.png" width="40" height="40" alt="author-image">
                                            <p class="uk-text-small uk-margin-remove-bottom">2 articles in this collection</p>
                                            <p class="uk-text-small uk-margin-remove-top">Written by Timothy Watkins</p>
                                        </div></div>
                                </a>
                            </div>
                            <div><a href="#" class="uk-card uk-card-small uk-card-default uk-card-body uk-border-rounded uk-display-block">
                                    <div class="uk-grid" data-uk-grid>
                                        <div class="uk-width-auto@m uk-flex uk-flex-middle">
                                            <i class="fas fa-file-invoice fa-lg in-icon-wrap in-margin-remove-left@s uk-margin-left"></i>
                                        </div>
                                        <div class="uk-width-expand@m in-margin-small-top@s">
                                            <h4 class="uk-margin-small-bottom">Invoicing and Getting paid</h4>
                                            <img class="uk-border-pill uk-background-muted uk-float-left uk-margin-remove-adjacent uk-margin-small-right" src="img/in-team-6.png" width="40" height="40" alt="author-image">
                                            <p class="uk-text-small uk-margin-remove-bottom">3 articles in this collection</p>
                                            <p class="uk-text-small uk-margin-remove-top">Written by Peter Jacobs</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a href="#" class="uk-card uk-card-small uk-card-default uk-card-body uk-border-rounded uk-display-block">
                                    <div class="uk-grid" data-uk-grid>
                                        <div class="uk-width-auto@m uk-flex uk-flex-middle">
                                            <i class="fas fa-users fa-lg in-icon-wrap in-margin-remove-left@s uk-margin-left"></i>
                                        </div>
                                        <div class="uk-width-expand@m in-margin-small-top@s">
                                            <h4 class="uk-margin-small-bottom">Project sources and Tracking</h4>
                                            <img class="uk-border-pill uk-background-muted uk-float-left uk-margin-remove-adjacent uk-margin-small-right" src="img/in-team-3.png" width="40" height="40" alt="author-image">
                                            <p class="uk-text-small uk-margin-remove-bottom">8 articles in this collection</p>
                                            <p class="uk-text-small uk-margin-remove-top">Written by Evelyn Mason</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <!-- section content end -->
        <!-- section content begin -->
        <!--<div class="uk-section">
            <div class="uk-container">
                <div class="uk-grid uk-flex uk-flex-center">
                    <div class="uk-width-3-5@m">
                        <div class="uk-card uk-card-large uk-card-default in-card-paper">
                            <div class="uk-card-body">
                                <h2>Company Faq</h2>
                                <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur consectetur adipiscing elit labore et dolore magna veritatis et quasi architecto beatae vitae.</p>
                                <p>Aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum.</p>
                                <hr class="uk-margin-medium-top uk-margin-small-bottom">
                                <ul class="in-faq-5" data-uk-accordion="collapsible: false">
                                    <li class="uk-open">
                                        <a class="uk-accordion-title" href="#">Brand Guidelines</a>
                                        <div class="uk-accordion-content">
                                            <ul class="uk-list uk-list-bullet">
                                                <li>Follow the Company Brand Guides</li>
                                                <li>Never use Company in the plural or possessive form</li>
                                                <li>Never use Company trademark generically in referring to the product</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="uk-accordion-title" href="#">Specifically restricted uses</a>
                                        <div class="uk-accordion-content">
                                            <ul class="uk-list uk-list-bullet">
                                                <li>Removing, distorting or altering any element of Company trademarks or branding</li>
                                                <li>Shortening, abbreviating, or using acronyms out of Company trademarks</li>
                                                <li>Combining your trademark or product name, visually or in text, with any Company trademark</li>
                                                <li>Indicating Company is endorsing or promoting your trademark or product</li>
                                                <li>Registering Company trademarks as or incorporated in social media account names, or aliases</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="uk-accordion-title" href="#">Company Trademarks</a>
                                        <div class="uk-accordion-content">
                                            <p>Company trademarks include the following list. The absence of any Company trademark, product name, service name, or any other name from this list does not waive Company intellectual property rights.</p>
                                            <p>The Company logo and name is ® Registered in the Canada and The United States with registrations pending elsewhere. The ® Registered mark shall only be used in Canada and The United States until registrations are completed elsewhere.</p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="uk-card uk-card-default uk-card-small uk-card-body uk-border-rounded uk-margin-medium-top">
                                    <p class="uk-text-small">For general inquiries please contact <a class="uk-text-lowercase uk-link" href="mailto:">support@alertsignalsnation.co.uk</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <!-- section content end -->
            <!-- section content begin -->
            <div class="uk-section">
                <div class="uk-container">
                    <div class="uk-grid"data-uk-grid>
                        <div class="uk-width-3-5@m">
                            <h1 class="uk-margin-small-bottom"><span class="in-highlight">Knowledge</span> is a wise investment</h1>
                            <p class="uk-text-lead uk-text-muted uk-margin-remove-top">By combining easy-to-understand information with actionable insights, Our company helps make the market seem less daunting—and more approachable.</p>
                            <span class="uk-label uk-text-small uk-text-uppercase uk-border-pill">Learn</span>
                            <i class="fas fa-arrows-alt-h fa-sm uk-margin-small-leftuk-margin-small-right"></i>
                            <span class="uk-label uk-text-small uk-text-uppercase uk-border-pill">Understand</span>
                            <i class="fas fa-arrows-alt-h fa-sm uk-margin-small-leftuk-margin-small-right"></i><span class="uk-label uk-text-small uk-text-uppercase uk-border-pill">Trade</span>
                        </div>
                        <div class="uk-width-2-5@m">
                            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                                <div class="uk-grid uk-grid-small">
                                    <div class="uk-width-expand@m">
                                        <h3 class="uk-margin-remove-bottom">Trade Academy</h3>
                                        <p class="uk-margin-small-top">Reprehenderit in voluptate velit esse cillum dolore laboris aute irure.</p>
                                        <a class="uk-button uk-button-primary uk-border-rounded" href="#">Start Learning</a>
                                    </div>
                                    <div class="uk-width-auto@m uk-visible@m">
                                        <div class="in-icon-wrapper transparent uk-margin-top">
                                            <i class="fas fa-user-graduate fa-5x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- section content end -->
            <!-- section content begin -->
            <div class="uk-section">
                <div class="uk-container">
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <table class="uk-table uk-table-middle uk-table-divider uk-table-responsive">
                                <tbody>
                                    <tr>
                                        <td class="uk-width-1-3@m">
                                            <div class="uk-grid uk-grid-small uk-flex uk-flex-middle">
                                                <div class="uk-width-auto">
                                                    <i class="fas fa-users fa-lg in-icon-wrap"></i>
                                                </div>
                                                <div class="uk-width-expand">
                                                    <h3>Beginner Course</h3>
                                                </div>
                                            </div>
                                        </td>
                                        <td>Learn the basic concepts of forex trading, what this market is all about, and why you should be a part of it.</td>
                                        <td class="uk-width-1-5@m uk-text-right@m">
                                            <a href="#" class="uk-button uk-button-text">Enter Course<i class="fas fa-chevron-right fa-xs uk-margin-small-left"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="uk-width-1-3@m">
                                            <div class="uk-grid uk-grid-small uk-flex uk-flex-middle">
                                                <div class="uk-width-auto">
                                                    <i class="fas fa-tools fa-lg in-icon-wrap"></i>
                                                </div>
                                                <div class="uk-width-expand">
                                                    <h3>Trading Tools</h3>
                                                </div>
                                            </div>
                                        </td>
                                        <td>Familiarize yourself with advanced strategies and Btrade's trading toolset. Take your trading to the next level.</td>
                                        <td class="uk-width-1-5@m uk-text-right@m">
                                            <a href="#" class="uk-button uk-button-text">Enter Course<i class="fas fa-chevron-right fa-xs uk-margin-small-left"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="uk-width-1-3@m">
                                            <div class="uk-grid uk-grid-small uk-flex uk-flex-middle">
                                                <div class="uk-width-auto">
                                                    <i class="fas fa-chart-area fa-lg in-icon-wrap"></i>
                                                </div>
                                                <div class="uk-width-expand">
                                                    <h3>Stocks and CFDs</h3>
                                                </div>
                                            </div>
                                        </td>
                                        <td>Discover the world of CFD trading: The ins & outs of the CFD market, relevant information and market dynamics.</td>
                                        <td class="uk-width-1-5@m uk-text-right@m">
                                            <a href="#" class="uk-button uk-button-text">Enter Course<i class="fas fa-chevron-right fa-xs uk-margin-small-left"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="uk-flex uk-flex-center uk-margin-medium-top uk-margin-bottom">
                                <div class="uk-width-3-4@m">
                                    <div class="uk-grid-small uk-child-width-1-3@m uk-child-width-1-2@s" data-uk-grid>
                                        <div>
                                            <a class="uk-button uk-button-default uk-border-rounded uk-width-expand" href="#">Fast Academy</a>
                                        </div>
                                        <div>
                                            <a class="uk-button uk-button-default uk-border-rounded uk-width-expand" href="#">Video Tutorials</a>
                                        </div>
                                        <div>
                                            <a class="uk-button uk-button-default uk-border-rounded uk-width-expand" href="#">Course</a>
                                        </div>
                                        <div>
                                            <a class="uk-button uk-button-default uk-border-rounded uk-width-expand" href="#">E-Books</a>
                                        </div>
                                        <div class="uk-visible@m">
                                            <a class="uk-button uk-button-default uk-border-rounded uk-width-expand" href="#">Glossary</a>
                                        </div>
                                        <div class="uk-visible@m">
                                            <a class="uk-button uk-button-default uk-border-rounded uk-width-expand" href="#">Trading Info</a>
                                        </div>
                                    </div>
                                </div>
                            </div></div>
                    </div>
                </div>
            </div>
            <!-- section content end -->
            <!-- section content begin -->
            <!--<div class="uk-section">
                <div class="uk-container">
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="uk-card uk-card-primary uk-box-shadow-small uk-border-rounded uk-background-cover" style="background-image: url(img/in-card-background-1.jpg);">
                                <div class="uk-card-body"><h2 class="uk-margin-remove-bottom">Free Demo Account</h2>
                                    <p class="uk-margin-small-top">Practice Stocks andCFDs trading in a risk-free environment.</p>
                                    <a class="uk-button uk-button-primary uk-border-rounded" href="#">Open an Account</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- section content end -->
            <!-- sectio content begin -->
        <div class="uk-section">
            <div class="uk-container">
                <div class="uk-grid">
                    <div class="uk-width-1-1 uk-flex uk-flex-center">
                        <div class="uk-width-3-4@m uk-margin-medium-bottom">
                            <p class="uk-text-lead">We're constantly updating our roadmap to bring transparency for our users and to get your feedback - please tell us what is important for you!</p>
                            <!--<p>You can follow our progress here or follow us on Twitter &nbsp; <a href="#"><i class="fab fa-twitter"></i><span class="uk-text-lowercase">@wavecapital</span></a></p>-->
                        </div>
                    </div>
                    <div class="uk-width-1-1 in-timeline-1">
                        <hr>
                        <div class="uk-grid-medium uk-child-width-1-1 uk-child-width-1-3@m" data-uk-grid>
                            <div>
                                <div class="in-timeline-branch">
                                    <div class="uk-flex">
                                        <i class="fas fa-clipboard-check fa-lg in-icon-wrap"></i>
                                        <div class="in-timeline-title uk-flex uk-flex-middle">
                                            <h4 class="uk-margin-remove-bottom">Q4 2019</h4>
                                            <span class="uk-label uk-label-success uk-text-small uk-border-rounded">completed</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-box-shadow-small uk-width-expand">
                                    <div class="uk-card uk-card-default uk-card-body uk-card-small uk-border-rounded">
                                        <ul class="uk-list uk-list-bullet in-list-check">
                                            <li>Wireframe</li>
                                            <li>Design</li>
                                            <li>Documentation</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="in-timeline-branch">
                                    <div class="uk-flex">
                                        <i class="fas fa-cog fa-lg in-icon-wrap"></i>
                                        <div class="in-timeline-title uk-flex uk-flex-middle">
                                            <h4 class="uk-margin-remove-bottom">Q2 2020</h4>
                                            <span class="uk-label uk-text-small uk-border-rounded">on progress</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-box-shadow-small uk-width-expand">
                                    <div class="uk-card uk-card-default uk-card-body uk-card-small uk-border-rounded">
                                        <ul class="uk-list uk-list-bullet in-list-check">
                                            <li>Chart with base functional</li>
                                            <li>Launching plans and billings</li>
                                            <li>Improvement of the rest of the functions of the Chart</li>
                                            <li>Availability panel</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="in-timeline-branch">
                                    <div class="uk-flex">
                                        <i class="fas fa-flask fa-lg in-icon-wrap"></i>
                                        <div class="in-timeline-title uk-flex uk-flex-middle">
                                            <h4 class="uk-margin-remove-bottom">Q3 2020</h4>
                                            <span class="uk-label uk-label-warning uk-text-small uk-border-rounded">planned</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-box-shadow-small uk-width-expand">
                                    <div class="uk-card uk-card-default uk-card-body uk-card-small uk-border-rounded">
                                        <ul class="uk-list uk-list-bullet in-list-check">
                                            <li>Extensions for other popular browsers</li>
                                            <li>List View for your tasks</li>
                                            <li>Apps for iOS &amp; Android</li>
                                            <li>New cool skin for Default View</li>
                                            <li>Community formation and the subsequent cyclic completion of the product based on the wishes of customers</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section content end -->
    </main>
    <footer>
    <!-- footer content begin -->
        <div class="uk-section uk-section-muted uk-padding-large uk-padding-remove-horizontal uk-margin-medium-top" style="background-image: linear-gradient(to right, rgb(35,28,98) , rgb(0, 0, 0)); background-color:#010847; background-repeat: no-repeat; background-size: 1650px; color: white;">
        <div class="uk-container">
            <div class="uk-grid-medium" data-uk-grid>
                <div class="uk-width-expand@m">
                    <img class="uk-margin-small-right in-margin-top-30@s" src="img/in-lazy.gif" data-src="img/cfc-markets-logo.png" alt="wave" width="154" height="26" data-uk-img>
                    <p style='color:white;'class="uk-text-large uk-margin-small-top">Trade with financial thinking.</p>
                    <p class="uk-visible@m">20-22 WENLOCK ROAD<br>
                        London<br>
                        England<br>
                        Unitied Kingdom.
                    </p>
                    </p>
                </div>
                <div class="uk-width-3-5@m">
                    <div class="uk-child-width-1-3@s uk-child-width-1-3@m" data-uk-grid>
                        <div>
                            <h4 style="color:white;"><span>NAVIGATION</span></h4>
                            <ul class="uk-list uk-link-text">
                                <li><a href="index">Home</a></li>
                                <li><a href="about">About</a></li>
                                <li><a href="contact">Contact</a></li>
                                <li><a href="faq">FAQ</a></li>
                            </ul>
                        </div>
                        <div>
                            <h4 style="color:white;"><span>REGULATIONS</span></h4>
                            <ul class="uk-list uk-link-text">
                                <li><a href="terms">Terms and Conditions</a></li>
                                <li><a href="Doc.pdf" target="blank">Documentation</a></li>
                                <li><a href="privacy_policy">Privacy &amp; Policy</a></li>
                                <li><a href="aml_policy">AML policy</a></li>
                            </ul>
                        </div>
                        <div>
                          <h4 style="color:white;"><span>ACCOUNT</span></h4>
                            <ul class="uk-list uk-link-text">
                                <li><a href="signup">Open Account</a></li>
                                <li><a href="signin">Login Account</a></li>
                            </ul>
                <!--<div class="uk-width-3-5@m">
                    <div class="uk-child-width-1-3@s uk-child-width-1-3@m" data-uk-grid>
                        <div>
                            <h4><span>Markets</span></h4>
                            <ul class="uk-list uk-link-text">
                                <li><a href="#">Forex</a></li>
                                <li><a href="#">Synthetic indices</a></li>
                                <li><a href="#">Stock indices</a></li>
                                <li><a href="#">Commodities</a></li>
                            </ul>
                        </div>
                        <div>
                            <h4><span>Resources</span></h4>
                            <ul class="uk-list uk-link-text">
                                <li><a href="#">Help Centre</a></li>
                                <li><a href="#">Payment methods</a></li>
                            </ul>
                        </div>
                        <div>
                            <h4><span>Company</span></h4>
                            <ul class="uk-list uk-link-text">
                                <li><a href="#">Our story</a></li>
                                <li><a href="#">Our leadership</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Partners</a></li>
                            </ul>-->
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1 uk-margin-large-top in-offset-bottom-20">
                    <h6><i class="fas fa-exclamation-triangle fa-sm uk-text-danger uk-margin-small-right"></i>Risk warning</h6>
                    <p class="uk-text-small">The financial products offered via this website include digitals, contracts for difference (CFDs), and other complex derivatives and financial products. Trading options may not be suitable for everyone. Trading CFDs carries a high level of risk since leverage can work both to your advantage and disadvantage. As a result, the products offered on this website may not be suitable for all investors because of the risk of losing all of your invested capital. You should never invest money that you cannot afford to lose, and never trade with borrowed money. Before trading in the complex financial products offered, please be sure to understand the risks involved and learn about <a href="#">Secure and responsible trading.</a></p>
                    <hr>
                    <div class="uk-grid uk-flex uk-flex-middle" data-uk-grid>
                        <div class="uk-width-1-2@m">
                            <div class="uk-grid-small uk-flex uk-child-width-1-4@s uk-flex uk-child-width-1-5@m in-payment-method uk-text-center" data-uk-grid>
                                <div>
                                    <div class="uk-card uk-card-default uk-card-small uk-card-body">
                                        <img src="img/in-lazy.gif" data-src="img/in-wave-visa (1).svg" alt="wave-payment" width="59" height="22" data-uk-img>
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card uk-card-default uk-card-small uk-card-body">
                                        <img src="img/in-lazy.gif" data-src="img/in-wave-mastercard (1).svg" alt="wave-payment" width="59" height="22" data-uk-img>
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card uk-card-default uk-card-small uk-card-body">
                                        <img src="img/in-lazy.gif" data-src="img/in-wave-skrill (1).svg" alt="wave-payment" width="59" height="22" data-uk-img>
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card uk-card-default uk-card-small uk-card-body">
                                        <img src="img/in-lazy.gif" data-src="img/in-wave-paypal (1).svg" alt="wave-payment" width="59" height="22" data-uk-img>
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card uk-card-default uk-card-small uk-card-body uk-visible@m">
                                        <img src="img/in-lazy.gif" data-src="img/in-wave-neteller (1).svg" alt="wave-payment" width="59" height="22" data-uk-img>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="uk-width-1-2@m uk-text-right@m">
                            <div class="in-footer-socials in-margin-bottom-40@s">
                                <a href="#"><i class="fab fa-youtube"></i></a>
                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-section uk-section-secondary uk-padding-remove-vertical">
        <div class="uk-container">
            <div class="uk-grid">
                <div class="uk-width-3-4@m uk-visible@m">
                    <ul class="uk-subnav uk-subnav-divider">
                        <P>This website is not directed at any jurisdiction and is not intended for any use that would be contrary to local law or regulation.</P>
                        </div>
                        </div>
                </div>
                <div class="uk-width-expand@m uk-text-right@m">
                    <p>© 2022 Solabiz-innovationmarkets</p>
                </div>
            </div>
        </div>
    </div>
    <!-- footer content end -->
    <!-- module totop begin -->
    <div class="uk-visible@m">
        <a href="#" class="in-totop fas fa-chevron-up" data-uk-scroll></a>
    </div>
    <!-- module totop begin -->
</footer>
<!-- Chat Widgets -->
<script src="//code.jivosite.com/widget/6LBT3D4fk4" async></script>
<!--// Chat Widgets -->
 
<!-- Javascript -->
<script src="js/vendors/uikit.min.js"></script>
<script src="js/vendors/indonez.min.js"></script>
<script src="js/config-theme.js"></script>    <!-- Javascript -->
    <script src="js/vendors/uikit.min.js"></script>
    <script src="js/vendors/indonez.min.js"></script>
    <script src="js/config-theme.js"></script>
</body>
</html>