<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <style>
        .user-card {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
        }
        .user-profile-pic {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <h1>Admin Panel</h1>
    <a href="/admin/users">Manage Users</a>
    <h1>Users</h1>
    <div class="user-list">
        <% obj.forEach(function(obj) { %>
            <div class="user-card">
                <img src="img/content/download (1).png" alt="Profile Picture" class="user-profile-pic">
                <p>Name: <%= obj.fname %></p>
                <p>Email: <%= obj.email %></p>
                <p>Balance: <%= obj.balance %></p>
                <p>Account Type: <%= obj.account %></p>
                <!-- Add more user details here -->
            </div>
            <% }); %>
    </div>
</body>
</html>
