<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <!-- css -->
    <link rel="stylesheet" href="assets/contactSupport.css" />
    <title>Xprex Markets</title>
  </head>
  <body>
   
    <!-- ============= Navbar ========== -->
    <section class="navbar-top">
      <div class="container">
        <div class="navbar-left">
     <a href="navbarPage"  > <img src="assets/vector/hamburger.svg" alt="hamburger" class="hamburger" id="btn" /></a>
         <!-- <a href="profile" class="d-flex"><img src="assets/image/avatar.png" alt="avatar" class="profile" /></a>
        </div>-->
        <div class="navbar-right"></div>
      </div>
    </section>
    <!-- ======= End Navbar ======== -->

    <section class="jumbotron">
      <div class="container">
        <div class="content">
          <p class="title">Contact Support</p>
          <hr />
          <div class="wrapper">
            <div class="wrapperflex">
              <div class="contentFill">
                <img src="assets/image/inbox.png" alt="img" class="inbox" />
                <p class="writer">support@Xprexmakets.online</p>
              </div>
              <div class="contentFill">
                <img src="assets/image/WhatsApp.png" alt="img" class="inbox" />
                <p class="writer">Contact support Via Whatsapp</p>
              </div>
            </div>
            <div class="contentFill">
              <img src="assets/image/Telegram.png" alt="img" class="inbox" />
              <p class="writer">Contact support Via Whatsapp</p>
            </div>
          </div>
        </div>
      </div>
    </section>
 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
