<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Xprex Markets</title>
    <!-- csss -->
    <link rel="stylesheet" href="assets/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
  </head>
  <body>
    <% obj.forEach(function(obj) { %>
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <div class="hmb-bg">
        <a class="navbar-brand" href="navbarPage"><img src="assets/image/hamburger.png" class="hamburger" alt="img"></a></div>
<!--      <a href="#" class="d-flex"><img src="assets/image/notif.png" alt="avatar" class="notif"></a> -->
     <a href="profile" class="d-flex"><img src="assets/image/avatar.svg" alt="avatar" class="profile" /></a>
        </div>
      </div>
    </nav>
  <div class="jumbotron">
    <div class="container-fluid">
        <p class="desc text-light">Your Balance</p>
        <h1 class="title text-light">USD<%=obj.balance %></h1>
                                                <p style="color:red;" class="write">Non Spendable</p>
                                        </div>
    <div class="fitur d-flex">
      <div class="fitur0">
        <div class="fitur-1">
            <a href="deposit"><img src="assets/image/deposit.png" alt="img" width="33" class="deposit"></a>
            <p class="desc text-light">Deposit</p>
        </div>
        </div>
      <div class="fitur0">
        <div class="fitur-1">
            <a href="withdrawal"><img src="assets/image/wd.png" alt="img" width="33" class="deposit"></a>
            <p class="desc text-light">Withdraw</p>
        </div>
        </div>
      <div class="fiutr0">
        <div class="fitur-1">
            <a href="accountUpgrade"><img src="assets/image/referals.png" alt="img" width="40" class="deposit"></a>
            <p class="desc text-light">Upgrade</p>
          </div>
        </div>
    </div>
  </div>
  <div class="wkwk">
  <div class="wrapper">
  <div class="content">
    <div class="container-fluid">
        <div class="fill-info">
        <div class="fill d-flex">
           <a href="#"><img src="assets/image/Activity.png" alt="img" class="activity"></a>
           <h1 class="title text-light">Active Deposit</h1>
           <p class="desc">USD<%= obj.deposit %></p>
        </div>
    </div>
        <div class="fill-info">
        <div class="fill d-flex">
           <a href="#"><img src="assets/image/last.png" alt="img" class="activity mt-3"></a>
           <h1 class="title text-light">Last Deposit</h1>
           <p class="desc">USD</p>
        </div>
    </div>
        <div class="fill-info">
        <div class="fill d-flex">
           <a href="#"><img src="assets/image/total.png" alt="img" class="activity mt-3"></a>
           <h1 class="title text-light">Total Deposit</h1>
           <p class="desc">USD0.00</p>
        </div>
    </div>
        <div class="fill-info">
        <div class="fill d-flex">
           <a href="#"><img src="assets/image/time.png" alt="img" class="time"></a>
           <h1 class="title text-light">Last Withdrawal</h1>
           <p class="desc">USD0.00</p>
        </div>
    </div>
    </div>
  </div>

  <div class="content-right">
    <div class="container-fluid">
        <div class="fill-info">
            <div class="fill d-flex">
                <img src="assets/image/earning.svg" alt="img" class="earning">
                <h1 class="title text-light">Earnings</h1>
                <p class="desc">USD<%= obj.profit %></p>
               <h1 class="subTitle text-light">0/0</h1>
            </div>
        </div>
        <div class="totalWithdrawal">
          <div class="fill d-flex">
             <a href="#"><img src="assets/image/last.png" alt="img" class="activity mt-3"></a>
             <h1 class="title text-light">Total Withdrawal</h1>
             <p class="desc">USD0.00</p>
          </div>
      </div>
        <div class="totalWithdrawal">
          <div class="fill d-flex">
             <a href="#"><img src="assets/image/time.png" alt="img" class="time"></a>
             <h1 class="title text-light">Pending Withdrawal</h1>
             <p class="desc">USD0.00</p>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/key-events/" rel="noopener" target="_blank"><span class="blue-text">Daily news roundup</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-timeline.js" async>
  {
  "feedMode": "all_symbols",
  "colorTheme": "dark",
  "isTransparent": true,
  "displayMode": "regular",
  "width": 420,
  "height": 830,
  "locale": "en"
}
  </script>
</div>
<% }); %>
<!-- TradingView Widget END -->
 <!-- <div class="detail">
    <div class="container-fluid">
      <div class="fill d-flex">
        <p class="desc">Instrumen</p>
        <p class="desc">Last Price</p>
        <p class="desc">Trade Volume</p>
        <p class="desc">Market Cap</p>
        <p class="desc">CHG</p>
      </div>
      <div class="wrap">
      <div class="fill d-flex">
        <p class="desc text-dark"> <span class="blue">Bitcoin</span></p>
        <p class="desc text-dark">1.00000</p>
        <p class="desc text-dark">467.97</p>
        <p class="desc text-dark">1000000.00</p>
        <p class="desc text-dark"> <span class="red">+455</span></p>
      </div>
    </div>
      <div class="wrap">
      <div class="fill d-flex">
        <p class="desc text-dark"> <span class="blue">USDT</span></p>
        <p class="desc text-dark">1.00000</p>
        <p class="desc text-dark">467.97</p>
        <p class="desc text-dark">1000000.00</p>
        <p class="desc text-dark"> <span class="green">+455</span></p>
      </div>
    </div>
    <div class="wrap">
      <div class="fill d-flex">
        <p class="desc text-dark"> <span class="blue">Bitcoin</span></p>
        <p class="desc text-dark">1.00000</p>
        <p class="desc text-dark">467.97</p>
        <p class="desc text-dark">1000000.00</p>
        <p class="desc text-dark"> <span class="red">+455</span></p>
      </div>
    </div>
    <div class="wrap">
      <div class="fill d-flex">
        <p class="desc text-dark"> <span class="blue">USDT</span></p>
        <p class="desc text-dark">1.00000</p>
        <p class="desc text-dark">467.97</p>
        <p class="desc text-dark">1000000.00</p>
        <p class="desc text-dark"> <span class="green">+455</span></p>
      </div>
    </div>
    <div class="wrap">
      <div class="fill d-flex">
        <p class="desc text-dark"> <span class="blue">Bitcoin</span></p>
        <p class="desc text-dark">1.00000</p>
        <p class="desc text-dark">467.97</p>
        <p class="desc text-dark">1000000.00</p>
        <p class="desc text-dark"> <span class="red">+455</span></p>
      </div>
    </div>
    <div class="wrap">
      <div class="fill d-flex">
        <p class="desc text-dark"> <span class="blue">USDT</span></p>
        <p class="desc text-dark">1.00000</p>
        <p class="desc text-dark">467.97</p>
        <p class="desc text-dark">1000000.00</p>
        <p class="desc text-dark"> <span class="green">+455</span></p>
      </div>-->
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="../plugins/jquery-3.1.1.min.js"></script>
    <script src="../plugins/sweetalerts/sweetalert2.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>

    <script>
        // BASE URL and API Inclusion
        const BASE_URL = '/';
        const API = `${BASE_URL}api/users.php`;
        const USERID = 212;


        // Viewed Popup?: Inform New User of Referral's Referree's Bonus
        <br />
<b>Fatal error</b>:  Uncaught PDOException: SQLSTATE[42S02]: Base table or view not found: 1146 Table 'u776380383_slb.user_referral_bonuses' doesn't exist in /home/u776380383/domains/slb-innovationmarkets.live/public_html/wp-user/dashboard.php:287
Stack trace:
#0 /home/u776380383/domains/slb-innovationmarkets.live/public_html/wp-user/dashboard.php(287): PDOStatement-&gt;execute()
#1 {main}
  thrown in <b>/home/u776380383/domains/slb-innovationmarkets.live/public_html/wp-user/dashboard.php</b> on line <b>287</b><br />
