<!DOCTYPE html>
<html lang="eng-us">

<!-- Mirrored from cftcoop.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 09 Feb 2021 19:28:00 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
<title>ChaseFx- Home</title>
<meta charset="UTF-8">
<link rel="shortcut icon" href="img/logo/favicon.png"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="ChaseFx is a Professional Creative Company, Build your future with Investments" />
<meta property="og:image" content="http://aptradingfx.com/img/about-img.png">
<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/icons.css">
<!-- Font-Awesome -->
<!-- <link rel="stylesheet" type="text/css" href="css/fontawesome-all.css"> -->
<link rel="stylesheet" href="http://pro.fontawesome.com/releases/v5.10.0/css/all.css"
integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<!-- Slider -->
<link rel="stylesheet" type="text/css" href="css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="css/slider.css">
<!--Navigation Menu CSS-->
<link rel="stylesheet" type="text/css" href="css/navigation.css">
<!-- Owl carousel Styles -->
<link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="css/owl.theme.default.css">
<!--Animate CSS-->
<link rel="stylesheet" type="text/css" href="css/animate.css">
<!-- Main Styles -->
<link rel="stylesheet" type="text/css" href="css/default.css">
<link rel="stylesheet" type="text/css" href="css/styles.css">
<script src="https://kit.fontawesome.com/e44d5a293a.js" crossorigin="anonymous"></script> <!--load all styles -->

<script>
function googleTranslateElementInit() {

new google.translate.TranslateElement({

pageLanguage: 'en'

}, 'google_translate_element');

}

</script><script src="http://translate.google.com/translate_a/elementa0d8.html?cb=googleTranslateElementInit"></script>

</head>

<body>
<!-- Preloader Start-->
<div id="preloader">
<div class="row loader">
<div class="loader-icon"></div>
</div>
</div>
<!-- Preloader End -->

<!-- Navbar START -->
<header id="nav-transparent">
<nav id="navigation4" class="container navigation">
<div class="nav-header">
<a class="nav-brand" href="/">
<img src="img/logo/cftcoopinv.png" alt="logo" class="main-logo" id="light_logo">
<img src="img/logo/cftcoop.png" alt="logo" class="main-logo" id="main_logo">
</a>
<div class="nav-toggle"></div>
</div>
<div class="nav-menus-wrapper">
<ul class="nav-menu align-to-right">
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/services">Services</a></li>
<li><a href="/support">Contact Us</a></li>
<!-- Button start -->
<li><a href="/login">Login</a></li>
<li> <a href=" /signup"> Register</a></li>
<!-- Button end -->
<li><div id="google_translate_element"></div></li>
</ul>
</div>
</nav>
</header>
<!-- Navbar END -->

<!-- Slider START -->
<div class="swiper-main-slider swiper-container">
<div class="swiper-wrapper">
<!-- Slide 1 Start -->
<div class="swiper-slide" style="background-image:url('img/slider/slide22.jpg');">
<div class="black-overlay-60"></div>
<div class="container">
<div class="slider-content text-center">
<h2 class="animated fadeInDown mb-0">
RELIABLE,SIMPLE AND INNOVATIVE
</h2>
<div class="row">
<div class="col-md-6 col-sm-12 col-12 offset-md-3">
<p class="white-color animated fadeInDown">
Capture short-term forex, stock indices, and commodity market volatility
</p>
</div>
</div>
<div class="animated fadeInUp mt-30">
<a href="/login" class="button-primary button-lg hvr-sweep-to-right">login</a>
<a href="/signup" class="button-primary button-lg hvr-sweep-to-right">Register</a>
<p class="white-color animated fadeInDown">
Open a live account and get up to $100*
</p>
</div>
</div>
</div>
</div>
<!-- Slide 1 End -->

<!-- Slide 2 Start -->
<div class="swiper-slide" style="background-image:url('img/slider/slide2.jpg');">
<div class="black-overlay-70"></div>
<div class="container">
<div class="slider-content text-center">
<h2 class="animated fadeInDown mb-0">
A broker for Forex Trading<br>
</h2>
<div class="row">
<div class="col-md-6 col-sm-12 col-12 offset-md-3">
<p class="white-color animated fadeInDown">
There is a very steep curve but we will help you stay ahead
</p>
</div>
</div>
<div class="animated fadeInUp mt-30">
<a href="/about" class="button-primary button-lg hvr-sweep-to-right">learn more</a>
</div>
</div>
</div>
</div>
<!-- Slide 2 End -->
<!-- Slide 3 Start -->
<div class="swiper-slide" style="background-image:url('img/slider/slide33.jpg')">
<div class="black-overlay-70"></div>
<div class="container">
<div class="slider-content">
<h2 class="text-left animated fadeInDown mb-0">
For those who believe <br>in leaving a mark
</h2>
<div class="row">
<div class="col-md-6 col-sm-12 col-12">
<p class="text-left white-color animated fadeInDown">
Make smart investments today
</p>
</div>
</div>
<div class="text-left animated fadeInUp mt-1">
<a href="/about" class="button-white-bordered button-lg hvr-sweep-to-right">Find out more</a>
</div>
</div>
</div>
</div>
<!-- Slide 3 End -->
</div>
<!-- Add Arrows -->
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>
<!-- Add Pagination -->
<div class="swiper-pagination"></div>
</div>
<!-- Slider END -->

<!-- Main START -->
<main>
<!-- Features START -->
<div class="section-wrapper section-wrapper--gray section-wrapper--lg">
<div class="container">
<div class="row justify-content-center mb-5">
<div class="col-md-12 col-lg-8 col-centered text-center">
<h3 class="s-subtitle-top textcolor">Hope does not have a finish line</h3>
<h3 class="s-title">We make the best strategies for you</h3>
<p class="s-subtitle s-subtitle--simetric">Our strategies are super efficient and reliable. </p>
</div>
</div>
<div class="row mt-5">
<!-- <div class="col-md-12 col-lg-4">
<div class="infobox s-pdl-30 s-pdr-30">
<i class="icon-user-2"></i>
<h4>Work with us</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
et dolore magna aliqua.</p>
<a href="about.html"></a>Read More</a>
</div>
</div> -->
<div class="col-md-12 col-lg-4">
<div class="infobox s-pdl-30 s-pdr-30">
<i class="icon-worldwide"></i>
<h4 class="s-mrb-30 s-mrt-40">Work with us</h4>
<p>You don't have to struggle to get it right anymore, we will do right by you</p>
<a href="about.html">Read More</a>
</div>
</div>
<div class="col-md-12 col-lg-4">
<div class="infobox s-pdl-30 s-pdr-30">
<i class="icon-worldwide"></i>
<h4 class="s-mrb-30 s-mrt-40">Our process</h4>
<p>With high-end technology and experienced personnels we have made investing so easy and seamless.</p>
<a href="about.html">Read More</a>
</div>
</div>
<div class="col-md-12 col-lg-4">
<div class="infobox s-pdl-30 s-pdr-30">
<i class="icon-transfer-3"></i>
<h4 class="s-mrb-30 s-mrt-40">How we help</h4>
<p>We will professionally and efficiently manange your account with the best risk management strategies</p>
<a href="about.html">Read More</a>
</div>
</div>
</div>
</div>
</div>
<!-- Features END -->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
<div class="tradingview-widget-container__widget"></div>
<div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Market Data</span></a> by TradingView</div>
<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
{
"colorTheme": "light",
"dateRange": "12m",
"showChart": true,
"locale": "en",
"largeChartUrl": "",
"isTransparent": true,
"width": "100%",
"height": "500",
"plotLineColorGrowing": "rgba(25, 118, 210, 1)",
"plotLineColorFalling": "rgba(25, 118, 210, 1)",
"gridLineColor": "rgba(42, 46, 57, 1)",
"scaleFontColor": "rgba(120, 123, 134, 1)",
"belowLineFillColorGrowing": "rgba(33, 150, 243, 0.12)",
"belowLineFillColorFalling": "rgba(33, 150, 243, 0.12)",
"symbolActiveColor": "rgba(33, 150, 243, 0.12)",
"tabs": [
{
"title": "Indices",
"symbols": [
{
"s": "OANDA:SPX500USD",
"d": "S&P 500"
},
{
"s": "OANDA:NAS100USD",
"d": "Nasdaq 100"
},
{
"s": "FOREXCOM:DJI",
"d": "Dow 30"
},
{
"s": "INDEX:NKY",
"d": "Nikkei 225"
},
{
"s": "INDEX:DEU30",
"d": "DAX Index"
},
{
"s": "OANDA:UK100GBP",
"d": "FTSE 100"
}
],
"originalTitle": "Indices"
},
{
"title": "Commodities",
"symbols": [
{
"s": "CME_MINI:ES1!",
"d": "E-Mini S&P"
},
{
"s": "CME:6E1!",
"d": "Euro"
},
{
"s": "COMEX:GC1!",
"d": "Gold"
},
{
"s": "NYMEX:CL1!",
"d": "Crude Oil"
},
{
"s": "NYMEX:NG1!",
"d": "Natural Gas"
},
{
"s": "CBOT:ZC1!",
"d": "Corn"
}
],
"originalTitle": "Commodities"
},
{
"title": "Bonds",
"symbols": [
{
"s": "CME:GE1!",
"d": "Eurodollar"
},
{
"s": "CBOT:ZB1!",
"d": "T-Bond"
},
{
"s": "CBOT:UB1!",
"d": "Ultra T-Bond"
},
{
"s": "EUREX:FGBL1!",
"d": "Euro Bund"
},
{
"s": "EUREX:FBTP1!",
"d": "Euro BTP"
},
{
"s": "EUREX:FGBM1!",
"d": "Euro BOBL"
}
],
"originalTitle": "Bonds"
},
{
"title": "Forex",
"symbols": [
{
"s": "FX:EURUSD"
},
{
"s": "FX:GBPUSD"
},
{
"s": "FX:USDJPY"
},
{
"s": "FX:USDCHF"
},
{
"s": "FX:AUDUSD"
},
{
"s": "FX:USDCAD"
}
],
"originalTitle": "Forex"
}
]
}
</script>
</div>
<!-- TradingView Widget END -->
<!-- Innovative START -->
<div id="innovative">
<div class="container">
<div class="row">
<div class="col-sm-12 col-lg-5">
<h4 class="innovative-title textcolor mt-5">Innovative</h4>
<h3 class="s-title">Enhancing your success</h3>
<p class="s-subtitle text-left mt-3">
We walk round the clock to maximise your chances of
succeeding and securing your profits. We are determined to make every investment worth it, seamless and completely free of regrets. </p>
<ul class="s-mrt-30 s-mrb-30 innvlist">
<li class="s-subtitle"><i class="fas fa-check-square textcolor"></i>Smart and risk-free investments.</li>
<li class="s-subtitle"><i class="fas fa-check-square textcolor"></i>Easy and fast process</li>
<li class="s-subtitle"><i class="fas fa-check-square textcolor"></i>Create and manage investment process</li>
</ul>
<a href="#" class="button-primary hvr-sweep-to-right button-md">learn more</a>
</div>
<div class="col-sm-12 col-lg-6 offset-lg-1 cir-divs">
<div class="bg-big">
<img src="img/content/mask-big.png" alt="img-8">
</div>
<div class="bg-medium">
<img src="img/content/mask-medium.png" alt="img-6">
</div>
<div class="bg-smoll">
<img src="img/content/mask-smoll.png" alt="img-7">
</div>
</div>
</div>
</div>
</div>
<!-- Innovative END -->
<!-- Services START -->
<div class="section-wrapper">
<div class="container">
<div class="row justify-content-center">
<div class="col-md-12 col-lg-8 col-centered s-mrb-60">
<h3 class="s-title text-center">Always there for you</h3>
<p class="s-subtitle s-subtitle--simetric">Our team is always ready to answer any questions you may have.
You will not walk alone</p>
</div>
</div>
<div class="row">
<div class="col-md-12 col-lg-4 text-center">
<div class="servicesboxs">
<img src="img/services/sh-1.png" class="mb-4" alt="services-1">
<p class="service-link"><a href="#" class="services-title">Wealth Planning</a></p>
<p class="services-subtitle">Work with your dedicated advisor team who will help you build a comprehensive financial strategy to help grow and preserve your wealth</p>
<a href="about.html" class="textcolor"><b>learn more</b></a>
</div>
</div>
<div class="col-md-12 col-lg-4 text-center">
<div class="servicesboxs">
<img src="img/services/sh-2.png" class="mb-4" alt="services-2">
<p class="service-link"><a href="#" class="services-title">Planning</a></p>
<p class="services-subtitle">With ChaseFx, you get straightforward advice and guidance. We have the tools, the people and the know-how to help you create a personalized strategy to smash your goals. </p>
<a href="about.html" class="textcolor"><b>learn more</b></a>
</div>
</div>
<div class="col-md-12 col-lg-4 text-center">
<div class="servicesboxs">
<img src="img/services/sh-3.jpg" class="mb-4" alt="services-3">
<p class="service-link"><a href="#" class="services-title">Fast and stable</a></p>
<p class="services-subtitle">Our services are light-speed and stable. A mixture of artificial intelligence intuitive user interface monitor and manage you investments better .</p>
<a href="about.html" class="textcolor"><b>learn more</b></a>
</div>
</div>
</div>
</div>
</div>
<!-- Services END -->
<!-- Pricing START -->
<!-- <div class="section-wrapper section-wrapper--gray">
<div class="container">
<div class="row justify-content-center">
<div class="col-md-12 col-lg-8 col-centered s-mrb-60">
<h3 class="s-title text-center">Pricing built for businesses of all sizes</h3>
<p class="s-subtitle">Here is a subscription-based software, which means you just pay an annual subscription
fee to use the software, in the cloud or on your own servers.</p>
</div>
</div>
<div class="row align-items-center justify-content-center">
<div class="col-sm-7 col-md-7 col-lg-4 text-center col-centered">
<div class="pricing-item">
<p class="pricing-plan s-pdt-20">FREE</p>
<p class="pricing-amout">$<span class="amout">0</span>
</p>
<p class="pricing-info">Monthly Payment
<br>Minimun term 12 months</p>
<div class="listbox">
<ul class="pricing-item-list">
<li>Workflow Builder</li>
</ul>
</div>
<a href="#" class="pricing-btn">More...</a>
</div>
</div>
<div class="col-sm-7 col-md-7 col-lg-4 text-center col-centered">
<div class="pricing-item priceing-cheked">
<div class="checked-border"></div>
<p class="pricing-plan s-pdt-20">BUSINESS</p>
<p class="pricing-amout">$<span class="amout">25</span>
</p>
<p class="pricing-info">Monthly Payment
<br>Minimun term 12 months</p>
<div class="listbox">
<ul class="pricing-item-list">
<li>Workflow Builder</li>
<li>Employee Portal Builder</li>
<li>Custom Reporting</li>
</ul>
</div>
<a href="#" class="pricing-btn textcolor checked-btn">More...</a>
</div>
</div>
<div class="col-sm-7 col-md-7 col-lg-4 text-center col-centered">
<div class="pricing-item">
<p class="pricing-plan s-pdt-20">ADVANCED</p>
<p class="pricing-amout">$<span class="amout">49</span>
</p>
<p class="pricing-info">Monthly Payment
<br>Minimun term 12 months</p>
<div class="listbox">
<ul class="pricing-item-list">
<li>Workflow Builder</li>
<li>Employee Portal Builder</li>
<li>Custom Reporting</li>
<li>Dedicated Instance</li>
</ul>
</div>
<a href="#" class="pricing-btn">More...</a>
</div>
</div>
</div>
</div>
</div>
Pricing END -->
<!-- Portfolio START -->
<div id="portfolio" class="section-wrapper pb-0">
<div class="container">
<div class="row justify-content-center">
<div class="col-md-12 col-lg-8 col-centered">
<h3 class="s-title text-center">Financial News</h3>
</div>
</div>
</div>

<div class="container">
<div class="row justify-content-center" style="background-color: rgb(70, 71, 71);">
<script
type="text/javascript">DukascopyApplet = { "type": "online_news", "params": { "header": false, "borders": false, "defaultLanguage": "en", "availableLanguages": ["ar", "bg", "cs", "de", "en", "es", "fa", "fr", "he", "hu", "it", "ja", "ms", "pl", "pt", "ro", "ru", "sk", "sv", "th", "uk", "zh"], "newsCategories": ["finance", "forex", "stocks", "company_news", "commodities"], "width": "100%", "height": "500", "adv": "popup" } };</script>
<script type="text/javascript" src="../freeserv-static.dukascopy.com/2.0/core.js"></script>
</div>
</div>
<!-- Portfolio END -->
<!--Brands START-->
</div>
<!--Brands END-->
<!-- Reviews START -->
<div class="section-wrapper">
<div class="container">
<div class="row justify-content-center">
<div class="col-md-12 col-centered">
<h3 class="s-title text-center">What our clients say about us</h3>
<h3 class="s-subtitle-top textcolor text-center">Reviews and testmonials</h3>
</div>
<div class="col-md-12 col-lg-10 col-centered mt-2">
<div class="owl-reviews owl-carousel owl-theme">
<div class="item rev-item">
<p class="quote mt-4 mb-5">The possibilty of earning passively seemed like a dream until ChaseFx came along</p>
<p class="mb-5">
<!-- <img src="img/content/reviews-item-1.png" alt="img-15"> --> <span class="reviews-name">Karen Grubb</span>
<br> <span class="reviews-com">RED SEA Ltd.</span>
</p>
</div>
<div class="item rev-item">
<p class="quote mt-4 mb-5">Investing has never been easier for me. I am pleased with the fast, easy and seamless process here</p>
<p class="mb-5">
<!--<img src="img/content/reviews-item-1.png" alt="img-17"> --> <span class="reviews-name">Jonathan Smith</span>
<br> <span class="reviews-com">RED SEA Ltd.</span>
</p>
</div>
<div class="item rev-item">
<p class="quote mt-4 mb-5">They make it so easy and safe.
</p>
<p class="mb-5">
<!-- <img src="img/content/reviews-item-1.png" alt="img-19"> --> <span class="reviews-name">Phillipe Santos</span>
<br> <span class="reviews-com">Merril lnnch.</span>
</p>
</div>
<div class="item rev-item">
<p class="quote mt-4 mb-5">Putting plans like this in place so our children can carry on</p>
<p class="mb-5">
<!--<img src="img/content/reviews-item-1.png" alt="img-21"> --> <span class="reviews-name">Amelia Wilson</span>
<br> <span class="reviews-com"></span>
</p>
</div>
<div class="item rev-item">
<p class="quote mt-4 mb-5">In the end all that matters is trust</p>
<p class="mb-5">
<!-- <img src="img/content/reviews-item-1.png" alt="img-21"> --> <span class="reviews-name">Andy Griffin</span>
<br> <span class="reviews-com"></span>
</p>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- Reviews END -->
<h3 class="s-title text-center">Crypto Markets </h3>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
<div class="tradingview-widget-container__widget"></div>
<div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/cryptocurrencies/prices-all/" rel="noopener" target="_blank"><span class="blue-text">Cryptocurrency Markets</span></a> by TradingView</div>
<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
{
"width": "100%",
"height": "490",
"defaultColumn": "moving_averages",
"screener_type": "crypto_mkt",
"displayCurrency": "USD",
"colorTheme": "light",
"locale": "en"
}
</script>
</div>
<!-- TradingView Widget END -->
<!-- Team START -->
<!-- Footer START -->
<footer id="footer">
<div class="container">
<div class="row">
<div class="col-sm-12 col-md-4 foot-col-1">
<img src="img/logo/cftcoopinv.png" alt="logo" style="width: 300px">
<p class="s-mrt-40">Services provided by ChaseFx, Inc., member FINRA/SIPC, and a subsidiary of TD Ameritrade Holding Corporation. TD Ameritrade is a trademark jointly owned by TD Ameritrade IP Company, Inc. and The Toronto-Dominion Bank. © 2020 Charles Schwab & Co., Inc. All rights reserved. Member SIPC.</p>
<h3 style="color: white">Contact Us</h3>
<!-- <ul class="social-footer"> -->
<ul class="social-footer">
<li>
<a href="tel:+14156107655"> <i class="fas fa-phone iconhover"></i>
</a>
</li>
<li>
<a href = "mailto: support@hfxoption.com"> <i class="fas fa-envelope iconhover"></i>
</a>
</li>
</ul>
</div>
<div class="col-sm-6 col-md-4 col-lg-3 offset-lg-1 foot-col-2 footer-col-clone">
<h3>OUR SERVICES</h3>
<ul>
<li><a href="#">Business Consultation</a>
</li>
<li><a href="#">Legal Infomation</a>
</li>
<li><a href="#">Privacy and Security</a>
</li>
<li><a href="/support">contact us</a>
</li>
</ul>
</div>
<div class="col-sm-12 foot-bottom">
<p>©2010-2021 ChaseFx. All Rights Reserved.</p>
</div>
</div>
</div>
</footer>
<!-- Footer END --> <div class = "last-widget">
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container" >
<div class="tradingview-widget-container__widget"></div>

<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
{
"symbols": [
{
"proName": "FX_IDC:EURUSD",
"title": "EUR/USD"
},
{
"proName": "BITSTAMP:BTCUSD",
"title": "BTC/USD"
},
{
"proName": "BITSTAMP:ETHUSD",
"title": "ETH/USD"
}
],
"colorTheme": "light",
"isTransparent": false,
"displayMode": "adaptive",
"locale": "en"
}
</script>
</div>
<!-- TradingView Widget END --> </div>
</main>
<!-- Main END -->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/605dd0c2067c2605c0bc890c/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<!-- Jquery -->
<script src="js/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Navbar JS -->
<script src="js/navigation.js"></script>
<script src="js/navigation.fixed.js"></script>
<!-- Swiper Slider -->
<script src="js/swiper.min.js"></script>
<!-- Popper -->
<script src="js/popper.min.js"></script>
<!-- Include js plugin -->
<script src="js/owl.carousel.min.js"></script>
<!-- Main JS -->
<script src="js/main.js"></script>
</body>


<!-- Mirrored from cftcoop.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 09 Feb 2021 19:28:52 GMT -->
</html>
