<!DOCTYPE html>
<html lang="eng-us">

<!-- Mirrored from cftcoop.com/?a=login by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 09 Feb 2021 19:29:09 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
	<title>ChaseFx </title>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="img/logo/favicon.png"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<!-- Font-Awesome -->
	<!-- <link rel="stylesheet" type="text/css" href="css/fontawesome-all.css"> -->
	<link rel="stylesheet" href="../pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
	<!-- Slider -->
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="css/slider.css">
	<!--Navigation Menu CSS-->
	<link rel="stylesheet" type="text/css" href="css/navigation.css">
	<!-- Owl carousel Styles -->
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="css/owl.theme.default.css">
	<!--Animate CSS-->
	<link rel="stylesheet" type="text/css" href="css/animate.css">
	<!-- Main Styles -->
	<link rel="stylesheet" type="text/css" href="css/default.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<script src="https://kit.fontawesome.com/e44d5a293a.js" crossorigin="anonymous"></script> <!--load all styles -->
	<script>
function googleTranslateElementInit() {

new google.translate.TranslateElement({

pageLanguage: 'en'

}, 'google_translate_element');

}

</script><script src="../translate.google.com/translate_a/elementa0d8.html?cb=googleTranslateElementInit"></script>
	
</head>

<body>
<!-- Preloader Start-->
<div id="preloader">
	<div class="row loader">
		<div class="loader-icon"></div>
	</div>
</div>
<!-- Preloader End -->

<!-- Navbar START -->
<header id="nav-transparent">
	<nav id="navigation4" class="container navigation">
		<div class="nav-header">
			<a class="nav-brand" href="/index">
				<img src="img/logo/cftcoopinv.png" alt="logo" class="main-logo" id="light_logo">
				<img src="img/logo/cftcoop.png" alt="logo" class="main-logo" id="main_logo">
			</a>
			<div class="nav-toggle"></div>
		</div>
		<div class="nav-menus-wrapper">
			<ul class="nav-menu align-to-right">
				<li><a href="/index">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/services">Services</a></li>
				<li><a href="/support">Contact Us</a></li>
				<!-- Button start -->
                                              <li><a href="/login">Login</a></li>
                        <li><a href="/signup">Register</a></li>
                                            <!-- Button end -->
				<li><div id="google_translate_element"></div></li>
				
			</ul>
		</div>
	</nav>
</header>
<!-- Navbar END -->

<!-- Page Title START -->
<div class="page-title-section" style="background-image: url('img/content/breadcrumb.jpg');">
	<div class="black-overlay-70"></div>
	<div class="container">
		<h1>Login</h1>
	</div>
</div>
<!-- Page Title END -->

<!--Login Start-->
<div class="section-wrapper section-wrapper--gray">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-8 mb-4">
				<h3 class="s-title-lg text-center">Login</h3>
				<h3 class="s-subtitle-top textcolor text-center">Fill The Form Below</h3>
			</div>
		</div>
		
		
<script language=javascript>
function checkform() {
  if (document.mainform.username.value=='') {
    alert("Please type your username!");
    document.mainform.username.focus();
    return false;
  }
  if (document.mainform.password.value=='') {
    alert("Please type your password!");
    document.mainform.password.focus();
    return false;
  }
  return true;
}
</script>


		
		<!-- Form Start -->
		<center>
		<form class="white-form mt-3" method="POST" action="login" >
		<input type=hidden name=a value='do_login'>
        <input type=hidden name=follow value=''>
        <input type=hidden name=follow_id value=''>
			<div class="row">
				<div class="col-md-4 col-sm-6 col-12">
					<input type="text" placeholder="Your Email Address *" name="email" value=''>
				</div>
				<div class="col-md-4 col-sm-6 col-12">
					<input type="password" placeholder="Your Password *" name="password" value=''>
				</div>
								<div class="col-md-4 col-sm-12 col-12">
				    <a href="forgot_password"><i class="fa fa-lock mr-1"></i>Forgot Password</a>
					<button type="submit" name="login"  class="button-primary button-xl ">Login</button>
				</div>
			</div>
		</form>
		</center>
		<!-- Form End -->
	</div>
</div>
<!--Login End-->

<!-- Footer START -->
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-4 foot-col-1">
				<img src="img/logo/cftcoop.png" alt="logo" style="width: 300px">
				<p class="s-mrt-40">Services provided by ChaseFx , Inc., member FINRA/SIPC, and a subsidiary of TD Ameritrade Holding Corporation. TD Ameritrade is a trademark jointly owned by TD Ameritrade IP Company, Inc. and The Toronto-Dominion Bank. © 2020 Charles Schwab & Co., Inc. All rights reserved. Member SIPC</p>
				<h3 style="color: white">Contact Us</h3>
				    <!-- <ul class="social-footer"> -->
					<ul class="social-footer">
						<li>
							<a href="tel:+14156107655"> <i class="fas fa-phone iconhover"></i>
							</a>
						</li>
						<li>
							<a href = "mailto: support@hfxoption.com"> <i class="fas fa-envelope iconhover"></i>
							</a>
						</li>
					</ul>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3 offset-lg-1 foot-col-2 footer-col-clone">
				<h3>OUR SERVICES</h3>
									<ul>
						<li><a href="#">Business Consultation</a>
						</li>
						<li><a href="#">Legal Infomation</a>
						</li>
						<li><a href="#">Privacy and Security</a>
						</li>
						<li><a href="/support">contact us</a>
						</li>
					</ul>
			</div>
			
			<div class="col-sm-12 foot-bottom">
				<p>© 2010 - 2021 ChaseFx . All Rights Reserved.</p>
			</div>
		</div>
	</div>
</footer>
<!-- Footer END -->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/605dd0c2067c2605c0bc890c/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<!-- Jquery -->
<script src="js/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Navbar JS -->
<script src="js/navigation.js"></script>
<script src="js/navigation.fixed.js"></script>
<!-- Popper -->
<script src="js/popper.min.js"></script>
<!-- Include js plugin -->
<script src="js/owl.carousel.min.js"></script>
<!-- Main JS -->
<script src="js/main.js"></script>
</body>


<!-- Mirrored from cftcoop.com/?a=login by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 09 Feb 2021 19:29:09 GMT -->
</html>
