
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Xprex Markets</title>
    <!-- csss -->
    <link rel="stylesheet" href="assets/navbarPage.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
  </head>
  <body>
    <% obj.forEach(function(obj) { %>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <div class="hmb-bg">
         <a class="navbar-brand" href="#"><img src="assets/image/logoBrand.svg" class="logo" alt="img" width="100px"></a></div>
          </div>
        </div>
      </nav>

      <div class="profileUser">
        <div class="container-fluid">
            <div class="content d-flex">
                <a href="profile" class="d-flex"><img src="assets/image/avatar.svg" alt="avatar" class="profile" /></a>
                <p class=" text-light" style="padding-left:13px;" ><%= obj.first %></p>
                <p class="desc text-light"><%= obj.email %></p>
            </div>
        </div>
      </div>
      
      <div class="user-info">
        <div class="container-fluid">
            <div class="content">
                <div class="fill-text d-flex">
                    <h1 class="title text-light">Username:</h1>
                    <p class="desc text-light"></p>
                </div>
                <div class="fill-text d-flex">
                    <h1 class="title text-light">Registration Date:</h1>
                    <p class="desc text-light">Jul-23-2023</p>
                </div>
                <div class="fill-text d-flex">
                    <h1 class="title text-light">Last Access:</h1>
                    <p class="desc text-light">Jul-24-2023 10:28:56 AM <span class="green"></span></p>
                </div>
                <div class="fill-text d-flex">
                    <h1 class="title text-light">Verification Status:</h1>
                                                                                        <p class="desc" style="color:red;">Not Verified</p>
                                                                                </div>
                <div class="fill-text d-flex">
                    <h1 class="title text-light">Account Status:</h1>
                    <p class="desc text-light"><span class="green">Basic</span></p>
                </div>
            </div>
        </div>
      </div>

      <div class="nav-link">
        <div class="container-fluid">
        <div class="content">
          <a href="dashboard"> <h1 class="title text-light">Dashboard</h1></a> 
        </div>
                                <div class="content">
          <a href="verify"> <h1 class="title text-light">Verify Account</h1></a> 
        </div>
                            
        <div class="content">
          <a href="deposit"> <h1 class="title text-light">Deposit</h1></a> 
        </div>
        <div class="content">
          <a href="withdrawal"> <h1 class="title text-light">Withdrawal</h1></a> 
        </div>
        <div class="content">
          <a href="trading-live"> <h1 class="title text-light">Live Trading</h1></a> 
        </div>
        <div class="content">
          <a href="trading-stock"> <h1 class="title text-light">Stock Trading</h1></a> 
        </div>
        <div class="content">
          <a href="accountUpgrade"> <h1 class="title text-light">Upgrade Account</h1></a> 
        </div>
        <div class="content">
          <a href="transactions"> <h1 class="title text-light">My Transactions</h1></a> 
        </div>
        <div class="content">
          <a href="contactSupport"> <h1 class="title text-light">Contact Support</h1></a> 
        </div>
        <div class="content">
          <a href="logout"> <h1 class="title text-light">Log out</h1></a> 
        </div>
        </div>
      </div>
      <% }); %>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
